/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
    .tshirt-title{
        font-size: 25px;
    }
    .navbar-brand{
        max-width: 210px;
    }
    .tshirt{
        max-width: 60%;
        margin-bottom: 30px;
    }
    .logo{
        max-width: 30% !important;
    }
    .progress{
        margin-bottom: 30px;
        height: 35px;
    }
}
    
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .navbar-brand{
        max-width: 300px;
    }
    .tshirt{
        max-width: 80%;
        margin-bottom: 30px;
    }
    .logo{
        max-width: 30% !important;
    }
    .progress{
        margin-bottom: 30px;
        height: 35px;
    }
}
    
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .tshirt{
        max-width: 80%;
        margin-bottom: 30px;
    }
    .logo{
        max-width: 30% !important;
    }
    .progress{
        margin-bottom: 30px;
        height: 35px;
    }
    .preorderuser-tshirt{
        margin-top: 100px;
    }
}
    
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .tshirt{
        max-width: 80%;
        margin-bottom: 30px;
    }
    .logo{
        max-width: 30% !important;
    }
    .progress{
        margin-bottom: 30px;
        height: 35px;
    }
    .preorderuser-tshirt{
        margin-top: 100px;
    }
}